html, body {
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
}

#sidebar {
    width: 20%;
    float: left;

}

#main {
   float: left;
   width: 80%;
}

#map {
    height: 95%;
    float: left;
   	width: 80%;
}

#sidebar ul{
	font-size: 11px;
	list-style-type: none;
    margin: 0 0 17px;
    padding: 0;
}

.child{
	margin-left: 15px;
}

#titulo{
	text-align: center;
	font-size: 18px;
	padding: 10px;
	font-weight: bold;
	color:#FF8000;
}

#separador{
	box-shadow: 0px 0px 5px /*#333*/ /*#F4990C*/ #006653;
	height:2px;
}

.group{
	font-weight: bold;
	font-size: 12px;
}

.subgroup{
	/*margin-left: 10px;*/
}

h1{
	font-size: 14px;
	text-align: center;
}

.InfoWindow{
	font-size: 12px;
}

.label{
	border: 0px dashed #393;
	clear: both;
	display: block;
	width: 150px;
	float: left;
	margin-top: 4px;
	font-size: 0.7em;
	font-weight: bold;
	padding-left: 7px;
}

.data{
	display: inline-block;
	margin-top: 4px;
    margin-bottom: 7px;
}

#header
{
	height: 76px;
	background-color: #19458D;
         font-family: Verdana,Arial, Helvetica, sans-serif;
}

#header h1 {
	margin: 0;
}
i{display: block;
    width: 30px;
    height: 30px;
}
.zona{
    height: 10px;
    width: 10px;
    display: inline-block;
}
.uno{
    background-color: #FCB8CE;
}
.dos{
    background-color: #C5DCFC;
}
.tres{
    background-color: #DCFCD4;
}

.cuatro{
    background-color: #FCE2D4;
}
.titulo{

    background: #E0E6F8;
        
}
.titulo:hover{
    background: #F2F2F2
}
.subgroup li{
    padding-left: 10px;
     border-bottom: 1px solid #eee
}
.subgroup li:hover{
    background-color: #F2F2F2
}
.linea{
    height: 6px;
background: #012526; /* Old browsers */
background: -moz-linear-gradient(top, #012526 0%, #3e99b2 47%, #e3eef7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#012526), color-stop(47%,#3e99b2), color-stop(100%,#e3eef7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #012526 0%,#3e99b2 47%,#e3eef7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #012526 0%,#3e99b2 47%,#e3eef7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #012526 0%,#3e99b2 47%,#e3eef7 100%); /* IE10+ */
background: linear-gradient(to bottom, #012526 0%,#3e99b2 47%,#e3eef7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012526', endColorstr='#e3eef7',GradientType=0 ); /* IE6-9 */
}
.palabra{
        font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding: 15px 30px;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0; 
    width: 100%;
    height: 21px; /* Altura del Footer en px*/ 
    clear: both; 
    text-align: center; color: #000000;
    background: rgb(0,0,0);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iIzExMTExMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM0JSIgc3RvcC1jb2xvcj0iIzI4MjgyOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzM4MzgzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc2JSIgc3RvcC1jb2xvcj0iIzFjMWMxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMzEzMTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 2%, rgba(17,17,17,1) 16%, rgba(40,40,40,1) 34%, rgba(56,56,56,1) 52%, rgba(28,28,28,1) 76%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(0,0,0,1)), color-stop(16%,rgba(17,17,17,1)), color-stop(34%,rgba(40,40,40,1)), color-stop(52%,rgba(56,56,56,1)), color-stop(76%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 2%,rgba(17,17,17,1) 16%,rgba(40,40,40,1) 34%,rgba(56,56,56,1) 52%,rgba(28,28,28,1) 76%,rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 2%,rgba(17,17,17,1) 16%,rgba(40,40,40,1) 34%,rgba(56,56,56,1) 52%,rgba(28,28,28,1) 76%,rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 2%,rgba(17,17,17,1) 16%,rgba(40,40,40,1) 34%,rgba(56,56,56,1) 52%,rgba(28,28,28,1) 76%,rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 2%,rgba(17,17,17,1) 16%,rgba(40,40,40,1) 34%,rgba(56,56,56,1) 52%,rgba(28,28,28,1) 76%,rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#131313',GradientType=0 );

}
.footer a{
    color: #eee;
    font-size: 9px;
    text-decoration: none;
    text-transform: none;
}
.footer a:hover{
    text-decoration: underline
}